<div class="p-8 max-w-xl w-full mx-auto">

  <!-- Title -->
  <h2 class="text-2xl font-bold text-gray-800 mb-6">
    {{ (isEdit ? 'ROLES.EDIT_TITLE' : 'ROLES.CREATE_TITLE') | transloco }}
  </h2>

  <!-- Form -->
  <form [formGroup]="roleForm" (ngSubmit)="submit()" class="space-y-6">

    <!-- Role Name -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ 'ROLES.FORM.ROLE_NAME_REQUIRED' | transloco }}</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="roleForm.controls.name.hasError('required')">
        {{ 'ROLES.FORM.ROLE_NAME_REQUIRED_ERROR' | transloco }}
      </mat-error>
    </mat-form-field>

    <!-- Actions -->
    <div class="flex justify-end space-x-3 pt-4">
      <button
        mat-stroked-button
        color="warn"
        type="button"
        mat-dialog-close>
        {{ 'COMMON.CANCEL' | transloco }}
      </button>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="roleForm.invalid">
        {{ (isEdit ? 'COMMON.UPDATE' : 'COMMON.CREATE') | transloco }}
      </button>
    </div>

  </form>
</div>
