<div class="p-8 max-w-xl w-full mx-auto">
  <!-- Title -->
  <h2 class="text-2xl font-bold text-gray-800 mb-6">
    {{ isEdit ? 'Ndrysho rolin' : 'Krijo rol të ri' }}
  </h2>

  <!-- Form -->
  <form [formGroup]="roleForm" (ngSubmit)="submit()" class="space-y-6">

    <!-- Role Name -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Emri i rolit *</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="roleForm.controls.name.hasError('required')">
        Emri i rolit është i detyrueshëm
      </mat-error>
    </mat-form-field>

    <!-- Actions -->
    <div class="flex justify-end space-x-3 pt-4">
      <button
        mat-stroked-button
        color="warn"
        type="button"
        mat-dialog-close>
        Anulo
      </button>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="roleForm.invalid">
        {{ isEdit ? 'Përditëso' : 'Krijo' }}
      </button>
    </div>

  </form>
</div>
