<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign up</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Already have an account?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">Sign in
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
                    class="mt-8"
                    [formGroup]="signUpForm"
                    #signUpNgForm="ngForm">

                    <!-- Full Name -->
                    <mat-form-field class="w-full">
                        <mat-label>Full name</mat-label>
                        <input id="fullName" matInput [formControlName]="'fullName'">
                        <mat-error *ngIf="signUpForm.get('fullName').hasError('required')">
                            Full name is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Email -->
                    <mat-form-field class="w-full">
                        <mat-label>Email address</mat-label>
                        <input id="email" matInput [formControlName]="'email'">
                        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                            Please enter a valid email
                        </mat-error>
                    </mat-form-field>

                    <!-- Password -->
                    <mat-form-field class="w-full">
                        <mat-label>Password</mat-label>
                        <input id="password" matInput type="password" [formControlName]="'password'">
                        <mat-error *ngIf="signUpForm.get('password').hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Company Name -->
                    <mat-form-field class="w-full">
                        <mat-label>Company Name</mat-label>
                        <input id="companyName" matInput [formControlName]="'companyName'">
                        <mat-error *ngIf="signUpForm.get('companyName').hasError('required')">
                            Company name is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Contact Phone -->
                    <mat-form-field class="w-full">
                        <mat-label>Contact Phone</mat-label>
                        <input id="contactPhone" matInput [formControlName]="'contactPhone'">
                    </mat-form-field>

                    <!-- State dropdown -->
                   
                    <mat-form-field class="w-full">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="stateId" (selectionChange)="onStateChange($event.value)">
                        <mat-option *ngFor="let state of states" [value]="state.id">
                        {{ state.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="signUpForm.get('stateId').hasError('required')">
                        State is required
                    </mat-error>
                    </mat-form-field>

                    <!-- City -->
                    <mat-form-field class="w-full">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="cityId">
                        <mat-option *ngFor="let city of cities" [value]="city.id">
                        {{ city.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="signUpForm.get('cityId').hasError('required')">
                        City is required
                    </mat-error>
                    </mat-form-field>


                    <!-- Agreements -->
                    <div class="inline-flex items-end w-full mt-1.5">
                        <mat-checkbox [formControlName]="'agreements'" color="primary">
                            I agree with <a class="ml-1 text-primary-500 hover:underline">Terms</a> and
                            <a class="ml-1 text-primary-500 hover:underline">Privacy Policy</a>
                        </mat-checkbox>
                    </div>

                    <!-- Submit -->
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm.disabled"
                        (click)="signUp()">
                        <span *ngIf="!signUpForm.disabled">Register Business</span>
                        <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>

        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Rent a Car System Managment</div>
                 
            </div>
          <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
            Create your account to manage cars, reservations, and customers with ease. 
            Join our Rent-a-Car system today and streamline your business in just a few clicks.
          </div>  
        </div>
    </div>
</div>
