<div class="p-6 w-full">

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold">{{ 'EXTRA_SERVICES.LIST_TITLE' | transloco }}</h1>

    <button mat-raised-button color="primary" (click)="openCreate()">
      {{ 'EXTRA_SERVICES.ADD_BUTTON' | transloco }}
    </button>
  </div>

  <div class="bg-white rounded-lg shadow-sm border w-full">

    <table class="w-full">
      <thead>
        <tr class="text-left bg-gray-50 border-b">
          <th class="p-4 font-medium">{{ 'COMMON.NAME' | transloco }}</th>
          <th class="p-4 font-medium">{{ 'EXTRA_SERVICES.TABLE.PRICE_PER_DAY' | transloco }}</th>
          <th class="p-4 text-right font-medium">{{ 'COMMON.ACTIONS' | transloco }}</th>
        </tr>
      </thead>

      <tbody *ngIf="services.length > 0; else emptyState">
        <tr *ngFor="let s of services" class="border-b hover:bg-gray-50">
          <td class="p-4">{{ s.name }}</td>
          <td class="p-4">{{ s.pricePerDay | currency }}</td>

          <td class="p-4 text-right space-x-2">
            <button mat-icon-button color="primary" (click)="openEdit(s)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="delete(s.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #emptyState>
      <div class="p-6 text-center text-gray-500">
        {{ 'EXTRA_SERVICES.NO_DATA' | transloco }}
      </div>
    </ng-template>

  </div>
</div>
