<div class="p-6">
  <h2 class="text-xl font-semibold mb-4">Users</h2>

  <button mat-flat-button color="primary" routerLink="/admin/users/create">
    + Create User
  </button>

  <table mat-table [dataSource]="users" class="w-full mt-4 mat-elevation-z2">

    <!-- Full Name -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user"> {{ user.fullName }} </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
    </ng-container>

    <!-- Phone -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let user"> {{ user.phoneNumber }} </td>
    </ng-container>

    <!-- Address -->
   <ng-container matColumnDef="businessName">
    <th mat-header-cell *matHeaderCellDef> Business </th>
    <td mat-cell *matCellDef="let user"> {{ user.businessName || '-' }} </td>
  </ng-container>

    <!-- Roles -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Roles </th>
    <td mat-cell *matCellDef="let user">
      {{ user.roles?.length ? user.roles.join(', ') : '-' }}
    </td>
  </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right"> Actions </th>
      <td mat-cell *matCellDef="let user" class="text-right">
        <button mat-stroked-button color="primary" (click)="editUser(user.id)">
          Edit
        </button>
        <button mat-stroked-button color="warn" (click)="deleteUser(user.id)">
          Delete
        </button>
        <button mat-stroked-button color="accent" (click)="openResetPassword(user.id)">
          Reset Password
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
